@import '../assets/vendor/fontawesome/css/iconos-footer.css';
@import './commons/header.css';
@import './mainWeb/sections.css';
@import './mainWeb/carousel.css';
@import './mainWeb/contactForm.css';
@import './commons/footer.css';
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin: 0px;
    font-family: sans-serif;
}


/* Fin de los contenedores de texto */