/* Formulario de contacto*/

#home .section:nth-child(4) .container {
    padding-bottom: 0
}

#home .section:nth-child(4) .container .row {
    grid-template-columns: 1fr;
    min-height: 400px;
}

#home #ifcontacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .3fr .5fr 1fr .5fr;
    padding: 30px 0px 30px 50px;
}

#home #ifcontacto .titulo {
    font-size: 40px;
    align-self: end;
}

#home #ifcontacto .frase {
    font-size: 22px;
    align-self: center;
}

#home #ifcontacto .text-inputs {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

#home #ifcontacto .name-input .cajagr,
#home #ifcontacto .email-input .cajagr {
    width: 500px;
    line-height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    color: grey;
}

#home #ifcontacto .message-input .cajagr {
    width: 1100px;
    height: 100px;
    border-radius: 5px;
    border: none;
    font-size: 22px;
    color: grey;
}

#home #ifcontacto .name-input .cajagr::placeholder,
#home #ifcontacto .email-input .cajagr::placeholder {
    font-size: 22px;
    line-height: 40px;
    color: #b8b8b8
}

#home #ifcontacto .message-input .cajagr::placeholder {
    font-size: 22px;
    line-height: 40px;
    color: #b8b8b8;
}

#home #ifcontacto .button-send-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#error_validacion {
    background-color: indianred;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-left: 10px
}

#home #ifcontacto span {
    padding-left: 10px;
    font-size: 20px
}

#home #ifcontacto .checkbox .validate-rgpd {
    width: 20px;
    height: 20px;
}

#ibenviar {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 20px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #666;
    color: #fff;
    text-transform: none;
    outline: 0;
    font-size: 23px;
    cursor: pointer;
    transition: .5s;
}

#icorrecto,
#ierror {
    display: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 22px;
    border: none;
    color: white
}

#icorrecto {
    background-color: #4caf50;
}

#ierror {
    background-color: indianred;
}

@media only screen and (max-width: 1200px) {
    #home #ifcontacto .button-send-container {
        justify-content: center;
    }
    #home #ifcontacto .text-inputs,
    #home #ifcontacto .message-input .cajagr,
    #home #ifcontacto .button-send-container {
        width: 80%;
        margin: 5px 0;
    }
    #home #ifcontacto .name-input .cajagr,
    #home #ifcontacto .email-input .cajagr {
        width: 90%;
    }
    #home #ifcontacto .email-input .cajagr {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #home #ifcontacto {
        padding: 0px 20px 30px 20px;
        grid-template-rows: .5fr .3fr .5fr 1fr .1fr;
    }
    #home #ifcontacto .titulo {
        font-size: 25px;
    }
    #home #ifcontacto .frase {
        font-size: 18px;
        margin-top: 10px
    }
    #home #ifcontacto .text-inputs,
    #home #ifcontacto .message-input .cajagr,
    #home #ifcontacto .button-send-container,
    #home #ifcontacto .name-input .cajagr,
    #home #ifcontacto .email-input .cajagr {
        width: 100%;
        margin: 5px 0;
    }
    #home #ifcontacto .text-inputs {
        flex-direction: column;
    }
    #home #ifcontacto .name-input .cajagr,
    #home #ifcontacto .email-input .cajagr,
    #home #ifcontacto .name-input .cajagr::placeholder,
    #home #ifcontacto .email-input .cajagr::placeholder,
    #home #ifcontacto .message-input .cajagr,
    #home #ifcontacto .message-input .cajagr::placeholder {
        font-size: 15px;
        line-height: 20px;
    }
    #home #ifcontacto span {
        font-size: 14px;
        padding-left: 0px
    }
    #home #ifcontacto .checkbox {
        display: grid;
        grid-template-columns: .1fr 1fr;
    }
    #home #ifcontacto .checkbox .validate-rgpd {
        width: 14px;
        height: 14px;
    }
    #home #ifcontacto .button-send-container {
        flex-direction: column;
    }
    #ibenviar {
        margin-top: 20px;
        font-size: 18px;
    }
    #home #ifcontacto span#error_validacion {
        margin: 10px 0;
        padding-left: 10px
    }
}