/*Footer*/
 
footer {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #58517a
}

footer .container {
    align-self: center
}

footer .container:first-child,
footer .container:nth-child(2) {
    justify-self: center
}

footer .container:nth-child(3) {
    justify-self: left
}

footer p {
    color: whitesmoke;
    font-size: 20px
}

footer .redes-sociales i {
    color: whitesmoke;
    font-size: 30px;
    padding: 0 15px;
    transition: .3s
}