    /*Footer*/
    
    footer {
        height: 200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: #58517a
    }
    
    footer .container {
        align-self: center
    }
    
    footer .container:first-child,
    footer .container:nth-child(2) {
        justify-self: center
    }
    
    footer .container:nth-child(3) {
        justify-self: left
    }
    
    footer p {
        color: whitesmoke;
        font-size: 20px
    }
    
    footer .redes-sociales i {
        color: whitesmoke;
        font-size: 30px;
        padding: 0 15px;
        transition: .3s
    }
    
    @media only screen and (max-width: 700px) {}
    
    @media only screen and (max-width: 480px) {
        footer {
            background: linear-gradient(0deg, #58517a 70%, #918bb2);
        }
        footer .container:first-child {
            padding: 0 15px
        }
        img {
            width: 130px;
        }
        footer .container:nth-child(2),
        footer .container:nth-child(3) {
            justify-self: center;
        }
        footer p {
            font-size: 16px;
        }
        footer .redes-sociales {
            display: flex;
            flex-direction: column;
        }
        footer .redes-sociales i {
            padding: 5px 0;
        }
    }