    /* Header */
    
    header {
        background-color: #58517a;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    header .contacto {
        padding: 10px;
        justify-self: right;
        transition: .1s;
        align-self: center;
        font-size: 21px;
    }
    
    header .contacto:hover {
        margin-top: -8px
    }
    
    header .title,
    header .contacto a,
    header .contacto a:active,
    header .contacto a:visited {
        color: whitesmoke;
        text-decoration: none;
    }
    
    header .menu-mobile {
        display: none;
    }
    
    header .contacto {
        display: block;
    }
    
    @media only screen and (max-width: 480px) {
        header .menu-mobile {
            display: block;
            color: whitesmoke;
            font-size: 40px;
            justify-self: right;
            padding-right: 10px;
        }
        header .contacto {
            display: none;
        }
        header .toggle-menuMobile {
            position: absolute;
            width: 100%;
            opacity: 0;
            -webkit-transition: opacity 300ms linear;
            transition: opacity 300ms linear;
            transition: 1s;
            overflow: hidden;
            margin-top: 25px;
        }
        header .toggle-menuMobile.animate {
            margin-top: 45px;
            opacity: 1;
        }
        header .rowMobile {
            transition: 0.3s;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            background: linear-gradient(90deg, #d8d4ec, white);
            border-bottom: 1px solid #c0b3ff;
        }
        header .rowMobile a {
            text-decoration: none;
            padding-left: 10px;
            font-size: 20px;
        }
    }